* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9e7676;
  background: radial-gradient(
    circle,
    #9e7676 0%,
    #594545 100%
  );
  height: 100vh;
}

.login_card {
  max-width: 600px;
  border-radius: 16px;
  border: 4px solid #fff;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
}

.d-center {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ans-area {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
}

#pics {
  display: inline-block;
}

#captcha {
  background: #fff;
  font-family: "Arial";
  font-size: 30px;
  border: 1px solid gray;
  width: 170px;
  height: 44px;
  display: flex;
}
